/* stylelint-disable -- This is for WooCommerce HTML and we don't control the naming choice. */
#billing_persontype_field,
#billing_cnpj_field,
#billing_ie_field,
#billing_cpf_field,
#billing_rg_field {
	.optional {
		display: none;
	}
}

.wcbcf-mailsuggest {
	color: #c00;
	font-size: small;
}

.wcbcf-ie-exempt {
	align-items: center;
	display: flex;
	gap: 0.5em;
	margin-top: 0.5em;

	input {
		margin: 0;
		width: auto;
	}
}

.wcbcf-ie-exempt-on {
	opacity: 0.7;
}
