.woocommerce-message {
	a.button-primary,
	button.button-primary {
		background: #bb77ae;
		border-color: #a36597;
		-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0 #a36597;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0 #a36597;
		color: #fff;
		text-shadow: 0 -1px 1px #a36597, 1px 0 1px #a36597, 0 1px 1px #a36597, -1px 0 1px #a36597;
		display: inline-block;

		&:hover, &:focus, &:active {
			background: #a36597;
			border-color: #a36597;
			-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0 #a36597;
			box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0 #a36597;
		}
	}
}

.woocommerce-message {
	position: relative;
	border-left-color: #cc99c2 !important;
	overflow: hidden;

	a.woocommerce-message-close {
		position: absolute;
		top: 10px;
		right: 10px;
		padding: 10px 15px 10px 21px;
		font-size: 13px;
		line-height: 1.23076923;
		text-decoration: none;
		&::before {
			position: absolute;
			top: 8px;
			left: 0;
			-webkit-transition: all 0.1s ease-in-out;
			transition: all 0.1s ease-in-out;
		}
	}
}
